<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<body>
<th:block th:fragment="aboutUs">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1525263102686 vc_row-has-fill vc_row-no-padding vc-container-wide vc_row-o-content-middle vc_row-flex">
        <div data-animation-delay="0"
             class="et-horizontal-equal-column wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12 vc_col-xs-12">
            <div class="vc_column-inner vc_custom_1525263601025">
                <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element  blockquote-inline">
                        <div class="wpb_wrapper">
                            <blockquote><p>
                                «Միկան» ընկերությունը հիմնադրվել է 2021թ. մարտին։

                                Մեր ընկերությունը իր գործունեության ընթացքում առաջատար դիրք է գրավում շինարարության

                                որակի տեխնիկական հսկողության ծառայությունների շուկայում։

                                Շուկայում կայուն դիրք և վստահություն ունենալով՝ մենք գործունեություն ենք ծավալում Երևանի և
                                Հայաստանի մարզերի 120-ից ավելի պետական և մասնավոր շինարարական ծրագրերում,
                                մասնավորապես՝ Երևանում Հովհաննես Թումանյանի թանգարանի, Մհեր Մկրտչյանի անվան
                                արտիստական թատրոնի վերակառուցում, Գաբրիել Սունդուկյանի անվան ազգային ակադեմիական
                                թատրոնի նորոգում, Գետառի մաքրման կայանի կառուցում, Հրազդանի ջրանցքի վերակառուցում, Կիևյան
                                կամրջի վերանորոգում, Երևանում և մարզերում բազմաթիվ բնակելի շենքերի, մանկապարտեզների կառուցում,
                                բակային տարածքների բարեկարգում, ջրատարների, կոյուղագծերի կառուցում, ճանապարհների
                                ասֆալտապատման աշխատանքներ և բազմաթիվ այլ նշանակալի ծրագրեր։
                                Մեր փորձառու, բանիմաց և արհեստավարժ մասնագետները ապահովում են բարձր որակի
                                ծառայություններ։ Ընկերությունն ապահովված է անհրաժեշտ չափագրող գործիքներով և
                                սարքավորումներով, և մենք պայմանագրային հիմունքներով օգտվում ենք շինարարական արտադրանքի

                                փորձարկման լաբորատորիայի ծառայություններից։
                            </p></blockquote>
                        </div>
                    </div>
                    <div class="et-signature-wrapper et-clearfix center">
                        <div id="et-signature-1" class="et-signature animate">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-animation-delay="0"
             class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12 vc_col-xs-12 vc_col-has-fill">
            <div class="vc_column-inner vc_custom_1525263595339">
                <div class="wpb_wrapper">
                    <div data-curtain="true" data-animation-delay="0" data-parallax="false"
                         data-coordinatex="0" data-coordinatey="0" data-speed="1"
                         class="et-custom-image aligncenter overlay-none curtain-left image-radius active">
                        <img width="1024" height="768"
                             src="../../resource/photo_2023-01-30_12-40-21.jpg" alt="">
                        <div class="curtain" style="background:#2a5c2d;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="homeaboutUs">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1525263102686 vc_row-has-fill vc_row-no-padding vc-container-wide vc_row-o-content-middle vc_row-flex">
        <div data-animation-delay="0"
             class="et-horizontal-equal-column wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12 vc_col-xs-12">
            <div class="vc_column-inner vc_custom_1525263601025">
                <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element  blockquote-inline">
                        <div class="wpb_wrapper">
                            <blockquote><p>
                                «Միկան» սահմանափակ պատասխանատվությամբ ընկերությունը
                                հիմնադրվել է 2021թ. մարտին։
                                Ընկերությունը առաջատար է շինարարության որակի
                                տեխնիկական հսկողության ոլորտում։ Մենք մատուցում ենք
                                ծառայություններ հետևյալ ոլորտներում՝
                                բնակելի, հասարակական և արտադրական, հիդրոտեխնիկական,
                                տրանսպորտային։
                                Մասնակցում ենք Երևանի և Հայաստանի մարզերի բազմաթիվ
                                շինարարական ծրագրերում։
                                Գործունեություն ենք ծավալում մի շարք պետական նախագծերում։
                            </p></blockquote>
                        </div>
                    </div>
                    <div class="et-signature-wrapper et-clearfix center">
                        <div id="et-signature-1" class="et-signature animate">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-animation-delay="0"
             class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12 vc_col-xs-12 vc_col-has-fill">
            <div class="vc_column-inner vc_custom_1525263595339">
                <div class="wpb_wrapper">
                    <div data-curtain="true" data-animation-delay="0" data-parallax="false"
                         data-coordinatex="0" data-coordinatey="0" data-speed="1"
                         class="et-custom-image aligncenter overlay-none curtain-left image-radius active">
                        <img width="1024" height="768"
                             src="../../resource/photo_2023-01-30_12-40-21.jpg" alt="">
                        <div class="curtain" style="background:#2a5c2d;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="imageGrid">
    <!--                         images plus       -->
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1525260110299 vc_row-has-fill vc_column-gap-24">
        <div class="vc-container et-clearfix">
            <div data-animation-delay="0"
                 class="text-align-center wpb_animate_when_almost_visible wpb_fadeIn fadeIn wpb_column vc_column_container vc_col-sm-12 wpb_start_animation animated">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="sep-wrap center  et-clearfix">
                            <div class="et-separator-decorative medium icon-sep-sep5"
                                 style="color:#000;margin-bottom:88px;"></div>
                        </div>
                        <div class="et-plain-gallery-wrapper">
                            <style>#plain-gallery-1 {
                                margin-left: -12px;
                                margin-right: -12px;
                            }

                            #plain-gallery-1 .et-item {
                                padding-left: 12px;
                                padding-right: 12px;
                                padding-bottom: 24px
                            }</style>
                            <div id="plain-gallery-1" data-columns="3"
                                 class="plain-gallery loop-gallery gallery-type-grid effect-type-sequential effect-moveUp overlay-fade-zoom et-item-set et-clearfix"
                                 style="position: relative; height: 1224px;">
                                <div class="et-item gallery"
                                     style="position: absolute;">
                                    <div class="et-item-inner et-clearfix animate">
                                        <div class="overlay-hover">
                                            <div class="image-container"><img width="588"
                                                                              height="588"
                                                                              src="../../resource/IMG_0379%20(1).jpg"
                                                                              alt=""></div>
                                            <div class="post-image-overlay"><a
                                                    class="overlay-read-more" title=""
                                                    data-lightbox-gallery="gallery-image1"
                                                    href="../../resource/IMG_0379%20(1).jpg"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="et-item gallery"
                                     style="position: absolute; left: 408px; top: 0px;">
                                    <div class="et-item-inner et-clearfix animate">
                                        <div class="overlay-hover">
                                            <div class="image-container"><img width="588"
                                                                              height="588"
                                                                              src="../../resource/IMG_0422%20(1).jpg"
                                                                              alt=""></div>
                                            <div class="post-image-overlay"><a
                                                    class="overlay-read-more" title=""
                                                    data-lightbox-gallery="gallery-image1"
                                                    href="../../resource/IMG_0422%20(1).jpg"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="et-item gallery"
                                     style="position: absolute; left: 816px; top: 0px;">
                                    <div class="et-item-inner et-clearfix animate">
                                        <div class="overlay-hover">
                                            <div class="image-container"><img width="588"
                                                                              height="588"
                                                                              src="../../resource/IMG_0443%20(1).jpg"
                                                                              alt=""></div>
                                            <div class="post-image-overlay"><a
                                                    class="overlay-read-more" title=""
                                                    data-lightbox-gallery="gallery-image1"
                                                    href="../../resource/IMG_0443%20(1).jpg"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="et-item gallery"
                                     style="position: absolute; left: 0px; top: 408px;">
                                    <div class="et-item-inner et-clearfix animate">
                                        <div class="overlay-hover">
                                            <div class="image-container"><img width="588"
                                                                              height="588"
                                                                              src="../../resource/TQ7A9031%20(2)%20(1).jpg"
                                                                              alt=""></div>
                                            <div class="post-image-overlay"><a
                                                    class="overlay-read-more" title=""
                                                    data-lightbox-gallery="gallery-image1"
                                                    href="../../resource/TQ7A9031%20(2)%20(1).jpg"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="et-item gallery"
                                     style="position: absolute; left: 408px; top: 408px;">
                                    <div class="et-item-inner et-clearfix animate">
                                        <div class="overlay-hover">
                                            <div class="image-container"><img width="588"
                                                                              height="588"
                                                                              src="../../resource/TQ7A9073%20(1).jpg"
                                                                              alt=""></div>
                                            <div class="post-image-overlay"><a
                                                    class="overlay-read-more" title=""
                                                    data-lightbox-gallery="gallery-image1"
                                                    href="../../resource/TQ7A9073%20(1).jpg"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="et-item gallery"
                                     style="position: absolute; left: 816px; top: 408px;">
                                    <div class="et-item-inner et-clearfix animate">
                                        <div class="overlay-hover">
                                            <div class="image-container"><img width="588"
                                                                              height="588"
                                                                              src="../../resource/TQ7A9102%20(1).jpg"
                                                                              alt=""></div>
                                            <div class="post-image-overlay"><a
                                                    class="overlay-read-more" title=""
                                                    data-lightbox-gallery="gallery-image1"
                                                    href="../../resource/TQ7A9102%20(1).jpg"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="et-item gallery"
                                     style="position: absolute; left: 0px; top: 816px;">
                                    <div class="et-item-inner et-clearfix animate">
                                        <div class="overlay-hover">
                                            <div class="image-container"><img width="588"
                                                                              height="588"
                                                                              src="../../resource/TQ7A9188%20(1).jpg"
                                                                              alt=""></div>
                                            <div class="post-image-overlay"><a
                                                    class="overlay-read-more" title=""
                                                    data-lightbox-gallery="gallery-image1"
                                                    href="../../resource/TQ7A9188%20(1).jpg"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
<!--productMenuList-->
<th:block th:fragment="ourRangeSlider">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1525260110299 vc_row-has-fill vc_column-gap-24">
        <div class="vc-container et-clearfix">
            <div data-animation-delay="0"
                 class="text-align-center wpb_animate_when_almost_visible wpb_fadeIn fadeIn wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div style="font-size: 56px;color: #2a5c2d;line-height: 56px;text-align: center;font-family:Abril Fatface;font-weight:400;font-style:normal"
                             class="vc_custom_heading et-pinyon vc_custom_1607606709738 response-text-bold">
                            <span>Կատարված աշխատանքներ</span>
                        </div>
                        <span class="et-gap et-clearfix " style="height:32px"> </span>
                        <div class="recent-menus-layout menu-layout lazy lazy-load carousel menu-container-wide post-size-small filter-false"
                             data-default-filter="all">
                            <div id="loop-menus-1" data-columns="4"
                                 class="loop-posts loop-menu owl-carousel recent-menus effect-none filter-false et-item-set et-clearfix">
                                <article
                                        class="et-item post menu all appetizers post-10838 type-menu status-publish has-post-thumbnail hentry menu-category-appetizers"
                                        data-width="60" th:each="product: ${productMenuList}">
                                    <div class="post-inner et-item-inner et-clearfix highlight-false">
                                        <div class="post-image overlay-hover post-media">
                                            <div class="image-preloader"></div>
                                            <img width="588" height="588"
                                                 th:src="'/getProductPic/' + ${product.image}"
                                                 class="attachment-goodresto_588X588 size-goodresto_588X588 wp-post-image"
                                                 alt="Vitello tonnato" decoding="async"
                                                 data-responsive-images="false">
                                        </div>
<!--                                        <div class="post-body et-clearfix" style="box-shadow: none">-->
<!--                                            <div class="post-body-inner-wrap">-->
<!--                                                <div class="post-body-inner">-->
<!--                                                    <h4 class="post-title et-clearfix">-->
<!--                                                        <span class="menu-title-inline">Կատարված աշխատանքներ</span>-->
<!--                                                    </h4>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="et-gap et-clearfix " style="height:56px">&nbsp;</span>
                <button type="submit" name="Բաժանորդագրվել" th:onclick="|window.location.href='/our_works'|">Տեսնել ավելին</button>
            </div>
        </div>

    </div>

</th:block>
<th:block th:fragment="yourOpinion">
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1522161538435 vc_column-gap-24 vc-container">
        <div data-animation-delay="0"
             class="wpb_column vc_column_container vc_col-sm-3 vc_hidden-sm vc_hidden-xs">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper"></div>
            </div>
        </div>
        <div data-animation-delay="0"
             class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div style="font-size: 56px;color: #2a5c2d;line-height: 56px;text-align: center;font-family:Abril Fatface;font-weight:400;font-style:normal"
                         class="vc_custom_heading et-pinyon vc_custom_1525080440732 response-text-bold"><span>Ձեր կարծիքը</span>
                    </div>
                    <div class="et-mailchimp-wrapper center-false" style="margin-top: 70px">
                        <div id="et-mailchimp-1" class="et-mailchimp">
                            <script>
                                function validateEmail(email) {
                                    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                                    return re.test(email);
                                }

                                function continueornot() {
                                    let x = document.forms["myForm"]["email"].value;
                                    if (validateEmail(document.getElementById('email-input').value) && x.trim() != "" && x.length >= 4) {
                                        document.getElementById('mc-embedded-subscribe-formx').submit()
                                    }
                                }
                            </script>
                            <form action="/feedback"
                                  method="post" id="mc-embedded-subscribe-formx" name="myForm">
                                <div class="input-wrap">
                                    <input type="email" id="email-input" name="email" class="email" required
                                           minlength="10"
                                           maxlength="50" placeholder="Մուտքագրեք ձեր էլփոստի հասցեն">
                                    <textarea name="message" placeholder="Ձեր կարծիքը" required minlength="4"
                                              maxlength="255"></textarea>
                                    <span class="after"></span>
                                </div>
                                <button onclick="continueornot()" type="submit">
                                    Ուղարկել
                                </button>
                            </form>


                        </div>
                    </div>
                    <div class="sep-wrap center  et-clearfix">
                        <div class="et-separator-decorative medium icon-sep-sep5"
                             style="color:#000;margin-top:88px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-animation-delay="0"
             class="wpb_column vc_column_container vc_col-sm-3 vc_hidden-sm vc_hidden-xs">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper"></div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="menuFragment">

    <div class="vc_row wpb_row vc_row-fluid vc_custom_1525680142313 vc_column-gap-24 vc-container">
        <div data-animation-delay="0" class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="sep-wrap center  et-clearfix">
                        <div class="et-separator-decorative large icon-sep-sep5"
                             style="color:#000;margin:96px 0;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</th:block>


<th:block th:fragment="supermarket">
    <div style="margin-bottom: 40px !important;font-size: 56px;color: #2a5c2d;line-height: 56px;text-align: center;font-family:Abril Fatface;font-weight:400;font-style:normal"
         class="vc_custom_heading et-pinyon vc_custom_1525080440732 response-text-bold"><span>Մեզ կարելի է գտնել</span>
    </div>
    <div class="vc_row wpb_row vc_row-fluid vc_custom_1525259092891 vc_column-gap-24 vc-container"
         style="margin-bottom: 50px">
        <div data-animation-delay="0" class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="recent-menus-layout menu-layout lazy-load list2 menu-container-boxed post-size-large gridify filter-true"
                         data-default-filter="appetizers">
                        <div data-columns="1"
                             class="loop-posts loop-menu gridify recent-menus effect-none filter-true et-item-set et-clearfix"
                             style="position: relative; height: 333.25px;">
                            <div class="grid-sizer"></div>
                            <article
                                    class="et-item post menu appetizers post-10838 type-menu status-publish has-post-thumbnail hentry menu-category-appetizers"
                                    data-width="60" id="menu-10838" style="position: absolute; left: 0px; top: 0px;">
                                <div class="post-inner et-item-inner et-clearfix highlight-true">
                                    <div class="post-body et-clearfix" style="box-shadow: none">
                                        <div class="post-body-inner-wrap">
                                            <div class="post-body-inner">
                                                <h4 class="post-title et-clearfix">
                                                    <span class="menu-title-inline supermarkets-text"
                                                          th:text="#{supermarket.sas}"></span>
                                                    <span class="menu-price-inline supermarkets-before">
                                                        <img class="supermarkets-img"
                                                             src="../../resource/supermarket/sas.png"
                                                             alt="" width="60px" height="60px">
                                                    </span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article
                                    class="et-item post menu appetizers post-10838 type-menu status-publish has-post-thumbnail hentry menu-category-appetizers"
                                    data-width="60" id="menu-10838" style="position: absolute; left: 0px; top: 0px;">
                                <div class="post-inner et-item-inner et-clearfix highlight-true">
                                    <div class="post-body et-clearfix" style="box-shadow: none">
                                        <div class="post-body-inner-wrap">
                                            <div class="post-body-inner">
                                                <h4 class="post-title et-clearfix"><span
                                                        class="menu-title-inline supermarkets-text"
                                                        th:text="#{supermarket.erevan}"></span>
                                                    <span class="menu-price-inline supermarkets-before">
                                                        <img class="supermarkets-img"
                                                             src="../../resource/supermarket/city.jpg"
                                                             alt="" width="60px" height="60px">
                                                    </span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article
                                    class="et-item post menu appetizers post-10838 type-menu status-publish has-post-thumbnail hentry menu-category-appetizers"
                                    data-width="60" id="menu-10838" style="position: absolute; left: 0px; top: 0px;">
                                <div class="post-inner et-item-inner et-clearfix highlight-true">
                                    <div class="post-body et-clearfix" style="box-shadow: none">
                                        <div class="post-body-inner-wrap">
                                            <div class="post-body-inner">
                                                <h4 class="post-title et-clearfix"><span
                                                        class="menu-title-inline supermarkets-text"
                                                        th:text="#{supermarket.zovq}"></span>
                                                    <span class="menu-price-inline supermarkets-before">
                                                        <img class="supermarkets-img"
                                                             src="../../resource/supermarket/zovq.jpg"
                                                             alt="" width="60px" height="60px">
                                                    </span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article
                                    class="et-item post menu appetizers post-10838 type-menu status-publish has-post-thumbnail hentry menu-category-appetizers"
                                    data-width="60" id="menu-10838" style="position: absolute; left: 0px; top: 0px;">
                                <div class="post-inner et-item-inner et-clearfix highlight-true">
                                    <div class="post-body et-clearfix" style="box-shadow: none">
                                        <div class="post-body-inner-wrap">
                                            <div class="post-body-inner">
                                                <h4 class="post-title et-clearfix"><span
                                                        class="menu-title-inline supermarkets-text"
                                                        th:text="#{supermarket.tsiran}"></span>
                                                    <span class="menu-price-inline supermarkets-before">
                                                        <img class="supermarkets-img"
                                                             src="../../resource/supermarket/tsiran.png"
                                                             alt="" width="60px" height="60px">
                                                    </span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article
                                    class="et-item post menu appetizers post-10838 type-menu status-publish has-post-thumbnail hentry menu-category-appetizers"
                                    data-width="60" id="menu-10838" style="position: absolute; left: 0px; top: 0px;">
                                <div class="post-inner et-item-inner et-clearfix highlight-true">
                                    <div class="post-body et-clearfix" style="box-shadow: none">
                                        <div class="post-body-inner-wrap">
                                            <div class="post-body-inner">
                                                <h4 class="post-title et-clearfix"><span
                                                        class="menu-title-inline supermarkets-text"
                                                        th:text="#{supermarket.caiser}"></span>
                                                    <span class="menu-price-inline supermarkets-before">
                                                        <img class="supermarkets-img"
                                                             src="../../resource/supermarket/caiser.jpg"
                                                             alt="" width="60px" height="60px">
                                                    </span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article
                                    class="et-item post menu appetizers post-10838 type-menu status-publish has-post-thumbnail hentry menu-category-appetizers"
                                    data-width="60" id="menu-10838" style="position: absolute; left: 0px; top: 0px;">
                                <div class="post-inner et-item-inner et-clearfix highlight-true">
                                    <div class="post-body et-clearfix" style="box-shadow: none">
                                        <div class="post-body-inner-wrap">
                                            <div class="post-body-inner">
                                                <h4 class="post-title et-clearfix"><span
                                                        class="menu-title-inline supermarkets-text"
                                                        th:text="#{supermarket.evrika}"></span>
                                                    <span class="menu-price-inline supermarkets-before">
                                                        <img class="supermarkets-img"
                                                             src="../../resource/supermarket/evrika.jpg"
                                                             alt="" width="60px" height="60px">
                                                    </span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article
                                    class="et-item post menu appetizers post-10838 type-menu status-publish has-post-thumbnail hentry menu-category-appetizers"
                                    data-width="60" id="menu-10838" style="position: absolute; left: 0px; top: 0px;">
                                <div class="post-inner et-item-inner et-clearfix highlight-true">
                                    <div class="post-body et-clearfix" style="box-shadow: none">
                                        <div class="post-body-inner-wrap">
                                            <div class="post-body-inner">
                                                <h4 class="post-title et-clearfix"><span
                                                        class="menu-title-inline supermarkets-text"
                                                        th:text="#{supermarket.parma}"></span>
                                                    <span class="menu-price-inline supermarkets-before">
                                                        <img src="../../resource/supermarket/parma.jpg"
                                                             alt="" width="60px" height="60px" class="supermarkets-img">
                                                    </span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
