<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<body>
<th:block th:fragment="loader">
    <div class="site-loading load3">
        <div class="loading-bar-full"></div>
        <div class="site-loading-content">
        </div>
    </div>
</th:block>
<th:block th:fragment="toTop">
    <a id="to-top" href="#wrap" class="animate"></a>
</th:block>

<th:block th:fragment="decoration">
    <div class="sep-wrap center  et-clearfix">
        <div class="et-separator-decorative large icon-sep-sep5" style="color:#000;margin:96px 0;"></div>
    </div>
</th:block>
</body>
</html>