<!DOCTYPE html>
<html class="no-js" lang="en-US" xmlns:th="http://www.thymeleaf.org/">
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=8">
    <!-- LINK TAGS -->
    <title th:text="#{title.about}"></title>
    <th:block th:insert="fragments/import::header"></th:block>
</head>
<body class="page-template page-template-page-vc page-template-page-vc-php page page-id-8104 wp-embed-responsive theme-goodresto woocommerce-no-js enovathemes preloader-active loading-active custom-scroll-false layout-wide sidebar-align-right button-size-medium  blank-false wpb-js-composer js-comp-ver-6.10.0 vc_responsive">
<th:block th:insert="fragments/util::loader"></th:block>
<!-- general wrap start -->
<div>

    <!-- wrap start -->
    <div id="wrap" data-navigation="default" data-sidebar-pos="left">
        <th:block th:insert="fragments/layout::header"></th:block>
        <div class="page-content-wrap sticky-status-true">
            <th:block th:replace="fragments/lazy::headerFullScreenSliderSmall(titleValue='Մեր մասին')"></th:block>
            <section class="wpb-content-wrapper">
                <th:block th:insert="fragments/util::decoration"></th:block>
                <div class="vc_row wpb_row vc_row-fluid vc_custom_1525258440365 vc_column-gap-24 vc-container">
                    <div data-animation-delay="0"
                         class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-2 vc_col-md-2 vc_hidden-sm vc_hidden-xs">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper"></div>
                        </div>
                    </div>
                    <div data-animation-delay="0"
                         class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-8 vc_col-md-8 vc_col-xs-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper"><h6 style="font-size: 56px;color: #2a5c2d;line-height: 56px;text-align: center;font-family:Abril Fatface;font-weight:400;font-style:normal" class="vc_custom_heading et-custom-title vc_custom_1525433858051 response-text-bold">
                                ՄԻԿԱՆ
                            </h6>
                                <div class="wpb_text_column wpb_content_element  et-custom-slogan">
                                    <div class="wpb_wrapper">
                                        <p style="text-align: center;">"ՄԻԿԱՆ"՝ Հայկական ընկերություն է, որը մատուցում է տեխնիկական որակի հսկողության խորհրդատվական ծառայություններ շինարարության ոլորտում։</p>

                                    </div>
                                </div>

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p style="text-align: center;">"Միկան" ընկերությունը հիմնադրվել է 2021թ. մարտի 21-ին։
                                            <br>
                                            Տեխնիկական որակի հսկողության շուկայի առաջատար լինելով, <br>
                                            մեր ընկերությունը վերջին 3 տարիների ընթացքում իր տեղն է գտել սպառողների շրջանում։
                                            <br>
                                            Շուկայի կայուն դիրքեր և վստահություն ունենալով՝ մենք համագործակցում ենք Երևանի և Հայաստանի մարզերի բոլոր խոշոր շինարարական նախագծերի հետ։
                                            <br>
                                            Մենք նաև աշխատում ենք պետական ոլորտում, ուստի մեր նախագծերը կարելի է գտնել շատ մեծ և հայտնի հանրային շենքերում և ենթակառուցվածքներում։
                                            <br>
                                            "Միկան"-ը ներգրավված է եղել 120-ից ավելի շինարարական նախագծերի տեխնիկական որակի հսկողության մեջ Երևանում և Հայաստանի տարբեր մարզերում, ներառյալ Երևանի Մհեր Մկրտչյանի արտիստական թատրոնի և Հովհաննես Թումանյանի թանգարանի վերակառուցումը, Գաբրիել Սունդուկյանի անվան ազգային ակադեմիական թատրոնի նորոգումը և բազմաթիվ այլ նշանակալի նախագծեր։
                                            <br>
                                            Մեր փորձառու, բանիմաց և արհեստավարժ մասնագետները ապահովում են բարձր որակի ծառայություններ։ Ընկերությունն ապահովված է անհրաժեշտ չափիչ գործիքներով և սարքավորումներով, և մենք պայմանագրային հիմունքներով օգտվում ենք շինարարական արտադրանքի փորձարկման լաբորատորիայի ծառայություններից։</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-animation-delay="0"
                         class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-2 vc_col-md-2 vc_hidden-sm vc_hidden-xs">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper"></div>
                        </div>
                    </div>
                </div>
                <th:block th:insert="fragments/util::decoration"></th:block>
            </section>

            <th:block th:insert="fragments/layout::footer"></th:block>
        </div>
    </div>
    <!-- wrap end -->
</div>
<th:block th:insert="fragments/util::toTop"></th:block>
<th:block th:insert="fragments/import::footer"></th:block>
</body>
</html>
