<!DOCTYPE html>
<html class="no-js" lang="en-US" xmlns:th="http://www.thymeleaf.org/">
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=8">
    <!-- LINK TAGS -->
    <title th:text="#{title.home}"></title>
    <th:block th:insert="fragments/import::header"></th:block>
</head>
<body class="page-template page-template-page-vc page-template-page-vc-php page page-id-8104 wp-embed-responsive theme-goodresto woocommerce-no-js enovathemes preloader-active loading-active custom-scroll-false layout-wide sidebar-align-right button-size-medium  blank-false wpb-js-composer js-comp-ver-6.10.0 vc_responsive">
<th:block th:insert="fragments/util::loader"></th:block>
<!-- general wrap start -->
<div>

    <!-- wrap start -->
    <div id="wrap" data-navigation="default" data-sidebar-pos="left">
        <th:block th:insert="fragments/layout::header"></th:block>
        <div class="page-content-wrap sticky-status-true">
            <th:block th:insert="fragments/lazy::headerFullScreenSlider"></th:block>

            <!-- content start -->
            <div id="et-content" class='content et-clearfix'>
                <!-- post start -->
                <div class="post-8104 page type-page status-publish hentry">
                    <div class="page-content et-clearfix">
                        <section class="wpb-content-wrapper">
                            <th:block th:insert="fragments/parts::aboutUs"></th:block>
                            <th:block th:insert="fragments/parts::ourRangeSlider"></th:block>
                            <th:block th:insert="fragments/parts::yourOpinion"></th:block>
                        </section>
                    </div>
                </div>
                <!-- post end -->
            </div>
            <!-- content end -->
            <th:block th:insert="fragments/layout::footer"></th:block>
        </div>
    </div>
    <!-- wrap end -->
</div>
<th:block th:insert="fragments/util::toTop"></th:block>
<th:block th:insert="fragments/import::footer"></th:block>
</body>
</html>
