<!DOCTYPE html>
<html class="no-js" lang="en-US" xmlns:th="http://www.thymeleaf.org/">
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=8">
    <!-- LINK TAGS -->
    <title>Mikan - Ծառայություններ</title>
    <th:block th:insert="fragments/import::header"></th:block>
</head>
<body class="page-template page-template-page-vc page-template-page-vc-php page page-id-8104 wp-embed-responsive theme-goodresto woocommerce-no-js enovathemes preloader-active loading-active custom-scroll-false layout-wide sidebar-align-right button-size-medium  blank-false wpb-js-composer js-comp-ver-6.10.0 vc_responsive">
<th:block th:insert="fragments/util::loader"></th:block>
<!-- general wrap start -->
<div>

    <!-- wrap start -->
    <div id="wrap" data-navigation="default" data-sidebar-pos="left">
        <th:block th:insert="fragments/layout::header"></th:block>
        <div class="page-content-wrap sticky-status-true">
            <th:block th:replace="fragments/lazy::headerFullScreenSliderSmall(titleValue='Ծառայություններ')"></th:block>

            <section class="wpb-content-wrapper">
                <div class="vc_row wpb_row vc_row-fluid vc_column-gap-24 vc-container">
                    <th:block th:insert="fragments/util::decoration"></th:block>
                    <div data-animation-delay="0" class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="recent-menus-layout menu-layout lazy-load grid menu-container-boxed post-size-medium gridify filter-true">
                                    <div data-columns="4"
                                         class="loop-posts loop-menu gridify recent-menus effect-none filter-true et-item-set et-clearfix menu-page-container">
                                        <article class="et-item post menu block relative"
                                                 th:each="product: ${productMenuList}">
                                            <div class="post-inner et-item-inner et-clearfix highlight-false">
                                                <div class="post-image overlay-hover post-media">
                                                    <div class="image-preloader"></div>
                                                    <img width="588" height="588"
                                                         th:src="'/getProductPic/' + ${product.image}"
                                                         class="attachment-goodresto_588X588 size-goodresto_588X588 wp-post-image"
                                                         loading="lazy">
                                                </div>
                                                <div class="post-body et-clearfix">
                                                    <div class="post-body-inner-wrap">
                                                        <div class="post-body-inner"><h4 class="post-title et-clearfix">
                                                            <span class="menu-title-inline"
                                                                  th:text="${product.title}"></span></h4>
                                                            <div class="menu-ingredients"
                                                                 th:text="${product.description}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <th:block th:insert="fragments/layout::footer"></th:block>
        </div>
    </div>
    <!-- wrap end -->
</div>
<th:block th:insert="fragments/util::toTop"></th:block>
<th:block th:insert="fragments/import::footer"></th:block>
</body>
</html>
